<template>
  <div>
      <h3>当前最新的count值为：{{$store.state.count}} </h3>
      <button @click="btnClick">+1</button>
      <button @click="btnClick2">+N</button>
  </div>
</template>

<script>
export default {
    methods: {
        btnClick() {
            // 在组件中使用commit触发mutation中的add方法来修改state中的数据
            this.$store.commit('add')
        },
        btnClick2() {
            // 在组件中使用commit触发mutation中的add方法来修改state中的数据
            // commit的第一个参数是mutation中的方法名，第二个参数是组件需要传递的数据
            this.$store.commit('addN', 3)
        },

    }
}
</script>

<style>

</style>