<template>
  <div>
      <!-- <h3>当前最新的count值为：{{count}} </h3> -->
      <!-- <h3>{{$store.getters.showNum}}</h3> -->
      <h3>{{showNum()}}</h3>
      <button @click="btnSub1">-1</button>
      <button @click="btnSub2">-N</button>
      <button @click="subNAsync(5)">-N(async)</button>
  </div>
</template>

<script>
import {mapState, mapMutations, mapActions, mapGetters} from 'vuex'
export default {
    computed: {
        ...mapState(['count'])
    },
    methods: {
        ...mapMutations(['sub', 'subN']),
        ...mapActions(['subNAsync']),
        ...mapGetters(['showNum']),
        btnSub1() {
            this.sub()
        },
        btnSub2() {
            this.subN(3)
        },
        btnSub3() {
            this.$store.dispatch('subNAsync', 3)
        },
    }
}
</script>

<style>

</style>